# RFM 集計ノード

In [3]:
import pandas as pd
import datetime

In [5]:
df_tran = pd.read_csv("./data/sampletranDEPT4en2019.csv")
df_tran.head()

,CUSTID,SDATE,PRODUCTID,L_CLASS,M_CLASS,AMOUNT,U_PRICE,SUBTOTAL
0,100001,2019-02-26,9900200,UNDERWEAR,UNDERWEAR06,2,700,1400
1,100001,2019-02-26,9902142,FOOD,FOOD12,2,840,1680
2,100001,2019-07-02,9937845,BAG,BAG04,5,348,1740
3,100001,2019-07-02,9902517,FOOD,FOOD12,5,550,2750
4,100001,2019-07-09,9903878,BAG,BAG04,7,444,3108

In [6]:
# 日付をdatetimeで取り扱う
df_tran["SDATE_datetime"]=df_tran["SDATE"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))

# 購買履歴データ内の最新日時を取得し、Recencyの基準日とする
NOW=df_tran["SDATE_datetime"].max()

# Recency,Frequency,Monetaryを集計する
df_rfm=df_tran.groupby("CUSTID").agg({"SDATE_datetime":lambda date: (NOW-date.max()).days,"SDATE":lambda date: len(date),"SUBTOTAL":lambda price:price.sum()}).reset_index()

# カラム名を変更
df_rfm=df_rfm.rename(columns={"SDATE_datetime":"Recency","SDATE":"Frequency","SUBTOTAL":"Monetary"})

In [7]:
df_rfm

      CUSTID  Recency  Frequency  Monetary
0     100001        1         30     98724
1     100004       20         36    170076
2     100005       77         12    118960
3     100006       41         12     85070
4     100008        3         19     54280
...      ...      ...        ...       ...
2995  105967        2         42    304543
2996  105970       28         45    356355
2997  105972       34         19    135032
2998  105974       19         90    243566
2999  105978       59         49    232789

[3000 rows x 4 columns]